body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;

    background: rgba(255, 255, 255 ,1);
    background: radial-gradient(circle, rgba(52, 107, 108, 0.474) 0%, rgba(155, 140, 105, 0.3) 100%);
    
    min-height: 100vh;
    
    
}

header{
    width: 30%;
    margin: 0 auto;
    font-size: 3rem;
    font-style: italic;
    text-transform: lowercase;
    
    font-family: 'Cormorant', serif;
    text-align: center;
    text-transform: uppercase;


}
header h1{
    font-weight: 200;
}
header >p{
    
    text-transform: lowercase;
}
header >p{
    text-transform: uppercase;
}

main{
    display: grid;
    grid: auto / repeat(9, 1fr);
    

    width: 80%;

    border-top: thick double var(--color-dark);
    border-bottom: thick double var(--color-dark);

}
section{
    font-size: 1em;
    align-items: center;
    text-align: center;

    justify-content: center;
    padding: 0.5em;
}
section h3 {
    border-top: thick  var(--color-dark);
    border-bottom: thick  var(--color-dark) ;
}
section h2 {
    font-weight: 300;

}
/* footer {
    font-size: 1em;
}
footer:first-of-type  p{
    
   
    display: grid;
    grid-row: 6/span 1;
    grid-column: 1/span 5;

}

footer:last-of-type 9 {

    display:grid;
    grid-row: 5;
    grid-column: 6/span 5;

} */