.links {
    grid-row: 4/span 2;
    grid-column: 8/span 2;

    font-size: 1em;
    text-align: center;
    font-family: 'Cormorant', serif;

    border-left: var(--border-thin);
    border-bottom: var(--border-thin);
    margin: 1rem;
}
/* grid-row: 1/span 2;
    grid-column: 6/span 4; */

.links p{
    font-size: 1.5em;
}